@font-face {
    font-family: AlegreyaSans;
    src: url('../fonts/AlegreyaSans.ttf');
}

@font-face {
    font-family: NixieOne;
    src: url(../fonts/NixieOne.ttf);
}

// @font-face {
//     font-family: HelveticaNeue;
//     src: url(../fonts/HelveticaNeue.ttf);
// }
