$white: #F1F0F0;
$black: #000000;
$generalPadding: 20vh 0;
$generalMargin: 2.5vh;
$w100: 100%;
$h100: 100%;
$f-w-400: 400;
$v-h-100: 100vh;
$overlay-bg: rgba(76, 100, 79, 0.35);
$over-bg-xl: rgba(0, 0, 0, 0.25);
$p-12-17: 12px 17px;